In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('part-00000.csv')

df.head()

,encrypted_cnpj,encrypted_5_zipcode,encrypted_domain,cnae,cheque,crediario,credito,debito,deposito,dinheiro,transferencia
0,711e100ff690bde75f1d51c6e120,3162373836343536353430623937303763373938366431...,6139646137356433363237396637323937336161383832...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4a098a906a2665ddb6ca051beed9,3530366161376161303533636633333935636239663964...,6139646137356433363237396637323937336161383832...,NaN,0.0,0.0,0.006289,0.088050,0.0,0.90566,0.0
2,1e1ac070864ab84b577827593eea,3938623435356438366362666138373130643936636265...,6139646137356433363237396637323937336161383832...,NaN,0.0,0.0,0.058803,0.137967,0.0,0.80323,0.0
3,fb1cb37dd9253ea2cd62ea7873e1,3031623865306336323665636530313030326239386636...,6139646137356433363237396637323937336161383832...,4612500.0,1.0,0.0,0.000000,0.000000,0.0,0.00000,0.0
4,4376025158df6f2139ec8d03f795,6335616165626335316433323039616335386334353133...,6139646137356433363237396637323937336161383832...,NaN,1.0,0.0,0.000000,0.000000,0.0,0.00000,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1630 entries, 0 to 1629
Data columns (total 11 columns):
encrypted_cnpj         1630 non-null object
encrypted_5_zipcode    1626 non-null object
encrypted_domain       1630 non-null object
cnae                   283 non-null float64
cheque                 1490 non-null float64
crediario              999 non-null float64
credito                1490 non-null float64
debito                 1490 non-null float64
deposito               1547 non-null float64
dinheiro               1490 non-null float64
transferencia          1547 non-null float64
dtypes: float64(8), object(3)
memory usage: 140.2+ KB

In [4]:
df.describe()

,cnae,cheque,crediario,credito,debito,deposito,dinheiro,transferencia
count,2.830000e+02,1490.000000,999.000000,1490.000000,1490.000000,1547.000000,1490.000000,1.547000e+03
mean,4.871866e+06,0.017519,0.052059,0.164875,0.244173,0.000020,0.170724,3.835251e-08
std,5.225976e+05,0.110263,0.222242,0.240024,0.318667,0.000440,0.351275,1.508478e-06
min,4.520004e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,4.729699e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
50%,4.732600e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
75%,4.772500e+06,0.000000,0.000000,0.307244,0.570452,0.000000,0.014893,0.000000e+00
max,9.511800e+06,1.000000,1.000000,1.000000,1.000000,0.015873,1.000000,5.933134e-05